{% for glyph in site.data.standardDamageGlyphs %}
    <div class="glyph">
        <h2>{{ glyph.name }}</h2>
        <h3>"{{ glyph.word }}"</h3>
        <h4>Standard Damage Glyph</h4>

        <dl>
            <dt>Thread Points:</dt>
            <dd>{{ glyph.threadPoints }}</dd>
            <dt>Damage Die:</dt>
            <dd>{{ glyph.damageDie }}</dd>
        </dl>

        {% for damage in glyph.damageTypes %}
            <button
                    class="add-standard-damage-glyph"
                    data-id="{{ glyph.id }}"
                    data-word="{{ glyph.word }}"
                    data-thread-points="{{ glyph.threadPoints }}"
                    data-damage-type-id="{{ damage.id }}"
                    data-damage-type="{{ damage.type }}"
                    data-damage-die="{{ glyph.damageDie }}"
            >
                {{ damage.type }}
            </button>
        {% endfor %}
    </div>
{% endfor %}
